.container {
  &:not(.edit) {
    width: 50px;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    position: relative;

    table {
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
      border-spacing: 0;
      border-collapse: collapse;
      background-color: white;
      table-layout: fixed;

      td {
        padding: 0;
        background-color: white;
      }
    }

    &.collapse {
      width: 40px;
    }
  }

  &.edit {
    width: 100%;
    height: 100%;

    table {
      width: 100%;
      height: 100%;
      border-spacing: 0;
      border-collapse: collapse;

      td {
        border: 1px solid black;
        background-color: white;
      }
    }
  }
}
