@use 'style' as *;

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;

  &.fadeIn {
    opacity: 0;
    animation: fadeIn $modal-delay forwards;
  }

  &.fadeOut {
    opacity: 1;
    animation: fadeOut $modal-delay forwards;
  }

  .wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    .modal {
      position: absolute;

      &.appear {
        animation: appear $modal-delay forwards;
      }

      &.disappear {
        opacity: 1;
        animation: disappear $modal-delay forwards;
      }
    }

    .overlay {
      width: 100%;
      height: 100%;
      background-color: #00000050;
    }
  }

  .ad {
    width: 100%;
    height: (100vw / 4);
    max-height: 150px;
    z-index: 9999;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
