.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 35px;
  position: relative;

  .more,
  .guide {
    cursor: pointer;

    img {
      position: absolute;
    }
  }

  .guide {
    &.active {
      filter: invert(19%) sepia(97%) saturate(7463%) hue-rotate(358deg) brightness(105%) contrast(105%);
    }
  }

  &:not(&.collapse) {
    .guide {
      position: absolute;
      top: 17px;
      left: 28px;
      font-size: 27px;

      img {
        top: -1.5px;
        left: -8px;
        width: 30px;
      }
    }
  }

  &.collapse {
    justify-content: space-between;
    height: 13px;

    .guide {
      position: relative;
      padding-left: 5.7px;
      font-size: 20px;

      img {
        top: 0;
        left: 0;
        width: 22px;
      }
    }

    .more {
      padding-top: 5px;
      font-size: 20px;
    }
  }
}
