.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-right: 20px;

  .indicator {
    display: flex;
    align-items: center;
    height: 55px;
  }
}
